{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form action="{{url_for('index')}}">
            <div class="btn-group btn-group-sm" role="group" aria-label="mpe radio toggle button group">
                <!-- TODO: onchange="this.form.submit();" is a bad practice, on* attributes make code hard to debug and maintain: use JavaScript instead!  -->
                <input type="radio" class="btn-check" name="btnradio_mpe" value="btnradio_mpe_2024Q3_4" id="btnradio_mpe_2024Q3_4" autocomplete="off" onchange="this.form.submit();"
                {% if btnradio_mpe == 'btnradio_mpe_2024Q3_4' %} checked> {% else %} > {% endif %}
                <label class="btn btn-outline-primary" for="btnradio_mpe_2024Q3_4">2024Q3-4 <span class="badge text-bg-secondary">Nuovo</span></label>

                <input type="radio" class="btn-check" name="btnradio_mpe" value="btnradio_mpe_2024Q1_2" id="btnradio_mpe_2024Q1_2" autocomplete="off" onchange="this.form.submit();"
                {% if btnradio_mpe == 'btnradio_mpe_2024Q1_2' %} checked> {% else %} > {% endif %}
                <label class="btn btn-outline-primary" for="btnradio_mpe_2024Q1_2">2024Q1-2</label>

                <input type="radio" class="btn-check" name="btnradio_mpe" value="btnradio_mpe_2023Q3_4" id="btnradio_mpe_2023Q3_4" autocomplete="off" onchange="this.form.submit();"
                {% if btnradio_mpe == 'btnradio_mpe_2023Q3_4' %} checked> {% else %} > {% endif %}
                <label class="btn btn-outline-primary" for="btnradio_mpe_2023Q3_4">2023Q3-4</label>

                <input type="radio" class="btn-check" name="btnradio_mpe" value="btnradio_mpe_2023Q1_2" id="btnradio_mpe_2023Q1_2" autocomplete="off" onchange="this.form.submit();"
                {% if btnradio_mpe == 'btnradio_mpe_2023Q1_2' %} checked> {% else %} > {% endif %}
                <label class="btn btn-outline-primary" for="btnradio_mpe_2023Q1_2">2023Q1-2</label>

                <input type="radio" class="btn-check" name="btnradio_mpe" value="btnradio_mpe_2022Q3_4" id="btnradio_mpe_2022Q3_4" autocomplete="off" onchange="this.form.submit();"
                {% if btnradio_mpe == 'btnradio_mpe_2022Q3_4' %} checked> {% else %} > {% endif %}
                <label class="btn btn-outline-primary" for="btnradio_mpe_2022Q3_4">2022Q3-4</label>

                <input type="radio" class="btn-check" name="btnradio_mpe" value="btnradio_mpe_2022Q1_2" id="btnradio_mpe_2022Q1_2" autocomplete="off" disabled>
                <label class="btn btn-outline-primary" for="btnradio_mpe_2022Q1_2">2022Q1-2 <span class="badge text-bg-secondary">quest.</span></label>

                <input type="radio" class="btn-check" name="btnradio_mpe" value="btnradio_mpe_2021Q3_4" id="btnradio_mpe_2021Q3_4" autocomplete="off" disabled>
                <label class="btn btn-outline-primary" for="btnradio_mpe_2021Q3_4">2021Q3-4 <span class="badge text-bg-secondary">quest.</span></label>
            </div>
            <div class="form-check form-switch">
                <input type="checkbox" role="switch" class="form-check-input" name="durata_netta" value="True" id="durata_netta" onchange="this.form.submit();"
                {% if durata_netta == 'True' %} checked> {% else %} > {% endif %}
                <label class="form-check-label" for="durata_netta">Durata netta</label>
            </div>
            <div class="form-check form-switch">
                <input type="checkbox" role="switch" class="form-check-input" name="fts" value="True" id="fts" onchange="this.form.submit();"
                {% if fts == 'True' %} checked> {% else %} > {% endif %}
                <label class="form-check-label" for="fts">FTS</label>
            </div>
            {# <input type="submit" class="btn btn-primary btn-sm" value="Invia"> #}
        </form>
    </div>
    <br>

    {% include 'table.html' %}

    {# chart | provincia | area | time | avviato [nr] pdc_pds | mpe 1-6 (time)  #}
    {% include 'charts/chart_provincia_area_time_avviato_pdc_pds.html' %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6">
                {# chart | provincia | line | time | durata [gg] pdc_pds | mpe 1-6 (time)  #}
                {% include 'charts/chart_provincia_line_time_durata_pdc_pds.html' %}
            </div>
            <div class="col-md-6">
                {# chart | provincia | area | time | arretrato [nr] pdc_pds | mpe 1-6 (time)  #}
                {% include 'charts/chart_provincia_area_time_arretrato_pdc_pds.html' %}
            </div>
        </div>
    </div>

    {# chart | comuni | scatter | cluster pop | pressione (lorda/netta) [idx] pdc pds | mpe 1-6 (timelapse)  #}
    {% if durata_netta == 'True' %}
        {% include 'charts/chart_comuni_scatter_cluster_pop_pressione_netta_pdc_pds_timelapse.html' %}
    {% else %}
        {% include 'charts/chart_comuni_scatter_cluster_pop_pressione_pdc_pds_timelapse.html' %}
    {% endif %}
    {# chart | comuni | box | cluster | pressione (lorda/netta) [idx] | mpe 1-6 #}
    {% if durata_netta == 'True' %}
        {% include 'charts/chart_comuni_box_cluster_pressione_netta.html' %}
    {% else %}
        {% include 'charts/chart_comuni_box_cluster_pressione.html' %}
    {% endif %}
    {# chart | provincia | gauge | mean | pressione (lorda/netta) [idx] | mpe 1-6 (timelapse)  #}
    {% if durata_netta == 'True' %}
        {% include 'charts/chart_provincia_gauge_pressione_netta_timelapse.html' %}
    {% else %}
        {% include 'charts/chart_provincia_gauge_pressione_timelapse.html' %}
    {% endif %}
    {# chart | comuni | pie | rank pop | pressione (lorda/netta) [idx] | mpe 1-6 (timelapse)  #}
    {% if durata_netta == 'True' %}
        {% include 'charts/chart_comuni_pie_rank_pop_pressione_netta_timelapse.html' %}
    {% else %}
        {% include 'charts/chart_comuni_pie_rank_pop_pressione_timelapse.html' %}
    {% endif %}
    {# chart | comuni | rank | time | pressione (lorda/netta) [idx] | mpe 1-6 (time)  #}
    {% if durata_netta == 'True' %}
        {% include 'charts/chart_comuni_rank_time_pressione_netta.html' %}
    {% else %}
        {% include 'charts/chart_comuni_rank_time_pressione.html' %}
    {% endif %}

    {# TODO: chart | comuni | scatter | cluster | pressione [idx]-elaborazione [ore/sett] pdc_pds | mpe 1-6 (timelapse)  #}
    {# TODO: chart | comuni | scatter | cluster | avviato [nr]-elaborazione [ore/sett] pdc_pds | mpe 1-6 (timelapse)  #}
    {# TODO: chart | comuni | scatter | cluster | durata [gg]-elaborazione [ore/sett] pdc_pds | mpe 1-6 (timelapse)  #}
    {# TODO: chart | comuni | scatter | cluster | arretrato [nr]-elaborazione [ore/sett] pdc_pds | mpe 1-6 (timelapse)  #}

    {# TODO: chart | provincia | map | .. | mpe 1-6 (timelapse?)  #}

    {# TODO: chart | pratiche | cal | presentato [nr] pdc_pds | mpe 1-6 (time)  #}

{% endblock %}
