{% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <div class="btn-group btn-group-sm" role="group" aria-label="mpe radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio_mpe" id="btnradio_mpe_2024Q1_2" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio_mpe_2024Q1_2">2024Q1-2 <span class="badge text-bg-secondary">Nuovo</span></label>
          
            <input type="radio" class="btn-check" name="btnradio_mpe" id="btnradio_mpe_2023Q3_4" autocomplete="off" disabled>
            <label class="btn btn-outline-primary" for="btnradio_mpe_2023Q3_4">2023Q3-4</label>
          
            <input type="radio" class="btn-check" name="btnradio_mpe" id="btnradio_mpe_2023Q1_2" autocomplete="off" disabled>
            <label class="btn btn-outline-primary" for="btnradio_mpe_2023Q1_2">2023Q1-2</label>
          
            <input type="radio" class="btn-check" name="btnradio_mpe" id="btnradio_mpe_2022Q3_4" autocomplete="off" disabled>
            <label class="btn btn-outline-primary" for="btnradio_mpe_2022Q3_4">2022Q3-4</label>
          
            <input type="radio" class="btn-check" name="btnradio_mpe" id="btnradio_mpe_2022Q1_2" autocomplete="off" disabled>
            <label class="btn btn-outline-primary" for="btnradio_mpe_2022Q1_2">2022Q1-2</label>
          
            <input type="radio" class="btn-check" name="btnradio_mpe" id="btnradio_mpe_2021Q3_4" autocomplete="off" disabled>
            <label class="btn btn-outline-primary" for="btnradio_mpe_2021Q3_4">2021Q3-4</label>
        </div>
        <br>
        
        {% include 'table.html' %}
        {% endblock %}
    </div>
